footer {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-columns: 130px 1fr 210px;
    align-items: center;
    padding: 35px 65px;
    background-color: $black;

    .social {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 30px;
        justify-content: start;
        margin: 0;
        padding: 0;

        li::before {
          display: none;
        }

        .icon {
          width: 30px;
          height: 30px;
          fill: map(colors, white, base);
          transition: all 0.3s ease-in;
        }

        a:focus .icon, a:hover .icon {
          fill: map(colors, red, base);
        }
      }
}