footer {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-columns: 130px 1fr 210px;
    align-items: center;
    padding: 35px 65px;
    background-color: $black;

    .footer-nav {
        ul {
            display: flex;
            justify-content: space-evenly;
            li {

                a {
                    color: $white;
                    text-decoration: none;
                }
            }

        }
    }
}