ul.workout-meta {
    display: flex;
    margin: 20px 0px;
    max-width: 300px;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-weight: bold;
        border-right: 1px solid lighten($grey, 30%);
        width: 100px;

        img {
            height: 30px;
            width: auto;
            margin-bottom: 10px;
        }
        &:last-child {
            border-right: 0;
        }
        &:first-child {
            padding-left: 0;
        }
    }
}