.page-workout {
    max-width: 900px;
    margin: 60px auto;

    .main-content {
        display: flex;

        @include respond-to('xxsmall') {
            display: flex;
            flex-direction: column;
            padding: 0px 15px;
        }

        .left-content {
            flex: 1 1 80%;

            p {
                margin-bottom: 40px;
            }

            @include respond-to('xxsmall') {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .right-content {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>img {
                border-radius: 100%;
                width: 150px;
                height: 150px;
                object-fit: cover;
                object-position: center
            }

            @include respond-to('xxsmall') {
                width: 100%;
            }
        }
    }

    video {
        margin-top: 30px;
    }
}