//United
@font-face {
    font-family: "United Italic Cond";
    src: url("../../Assets/Fonts/UnitedItalicCond-Heavy.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//Gotham
@font-face {
    font-family: "Gotham";
    src: url("../../Assets/Fonts/GothamMedium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../Assets/Fonts/GothamBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../../Assets/Fonts/GothamBook.woff2") format("woff2");
    font-weight: thin;
    font-style: normal;
    font-display: swap;
}