body {
    margin: 0;
    font-family: $primary-font;
}
h1, h2, h3 {
    font-family: 'United Italic Cond',sans-serif;
    font-weight: bold;
    letter-spacing: .02em;
    text-transform: uppercase;
    margin: 10px 0px;

}
h1 {
    color: $red;
    font-size: 84px;

    @include respond-to('xxsmall') {
        font-size: 64px;
    }
}

h2 {
    font-size: 54px;

    @include respond-to('xxsmall') {
        font-size: 44px;
    }
}

p {
    font-size: 20px;
    color: $grey;

    @include respond-to('xxsmall') {
        font-size: 18px;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 13px 40px;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .12em;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $red;
    border-radius: 50px;
    background: $red;
    transition: 200ms ease all;

    &:hover {
        color: $white;
        border-color: $grey;
        background: $grey;
    }

    .outline {
        color: $red;
        background: $white;
    }
}